= render :partial => '/envkeys', :locals => { :envkeys => @host.envkeys }
= render :partial => '/foreman_configs', :locals => { :foreman_configs => @host.foreman_configs }
= render :partial => '/heroku', :locals => { :envkeys => @host.envkeys }
